<ion-content fullscreen>

  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <ion-content class="ion-padding">

      <form #f="ngForm" (ngSubmit)="AdminForm(f, getActualProduct)" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="text" name="name" required required [(ngModel)]="getActualProduct.name" >
            </ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Prix</ion-label>
            <ion-input type="number" name="price" required [(ngModel)]="getActualProduct.price" >
            </ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" fill="outline" [disabled]="!f.valid">
            Modifier
          </ion-button>
        </ion-list>
        
      </form>

  </ion-content>
  
</ion-content>