ion-card{
    --background: #fff;
    --color: #021b46;
}

ion-fab-button {
  height: 75px;
  width: 75px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  color: var(--ion-color-warning);
  position: absolute;
  top: 25px;
  left: 28px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}


.photoAff {
  width: 50px;
}

.iconBuy {
  height: 25px;
  width: 25px;
}